In [ ]:
# Create a new database with a table named Roster that has three fields: Name, Species, and Age. The Name and Species columns should be text fields, 
# and the Age column should be an integer field.

In [ ]:
import sqlite3

# Connect to database (creates a new one if it doesnâ€™t exist)
conn = sqlite3.connect("zoo.db")
cursor = conn.cursor()

# Create Roster table
cursor.execute("""
CREATE TABLE IF NOT EXISTS Roster (
    Name TEXT,
    Species TEXT,
    Age INTEGER
)
""")

print("âœ… Database and Roster table created successfully.")

# Save and close connection
conn.commit()
conn.close()

In [ ]:
import sqlite3

# Bazaga ulanamiz
conn = sqlite3.connect("zoo.db")
cursor = conn.cursor()

# Ma'lumotlarni qoâ€˜shamiz
roster_data = [
    ("Benjamin Sisko", "Human", 40),
    ("Jadzia Dax", "Trill", 300),
    ("Kira Nerys", "Bajoran", 29)
]

cursor.executemany("INSERT INTO Roster (Name, Species, Age) VALUES (?, ?, ?)", roster_data)

# O'zgarishlarni saqlash
conn.commit()

print("âœ… Ma'lumotlar Roster jadvaliga qo'shildi.")

# Qoâ€˜shilgan qiymatlarni koâ€˜rib chiqamiz
cursor.execute("SELECT * FROM Ros*

In [ ]:
# Update the Name of Jadzia Dax to be Ezri Dax

In [ ]:
import sqlite3

# Bazaga ulanamiz
conn = sqlite3.connect("zoo.db")
cursor = conn.cursor()

# Jadzia Dax ismiga ega yozuvni Ezri Dax ga yangilash
cursor.execute("""
UPDATE Roster
SET Name = ?
WHERE Name = ?
""", ("Ezri Dax", "Jadzia Dax"))

conn.commit()
print("âœ… Ism yangilandi: Jadzia Dax â†’ Ezri Dax")

# Jadvaldagi natijalarni koâ€˜ramiz
cursor.execute("SELECT * FROM Roster")
rows = cursor.fetchall()

print("\nðŸ“‹ Roster jadvalidagi yangilangan qiymatlar:")
for row in rows:
    print(row)

conn.close()

In [ ]:
# Display the Name and Age of everyone in the table classified as Bajoran.

In [ ]:
import sqlite3

# Bazaga ulanamiz
conn = sqlite3.connect("zoo.db")
cursor = conn.cursor()

# Faqat Bajoranlarni olish (Name va Age ustunlari bilan)
cursor.execute("""
SELECT Name, Age
FROM Roster
WHERE Species = 'Bajoran'
""")

rows = cursor.fetchall()

print("ðŸ“‹ Bajoranlar:")
for row in rows:
    print(f"Name: {row[0]}, Age: {row[1]}")

conn.close()

In [ ]:
ðŸ“‹ Bajoranlar:
Name: Kira Nerys, Age: 29