In [2]:
import pandas as pd
customers = pd.read_csv("task\\customer_orders.csv")
customers

    OrderID  CustomerID              Product  Quantity  Price
0         1         101               Laptop         2    800
1         2         102           Headphones         1    150
2         3         103           Smartphone         3    400
3         4         101  External Hard Drive         2     80
4         5         102             Backpack         1     40
..      ...         ...                  ...       ...    ...
95       96         103              Blender         1     60
96       97         104          Sport Shoes         2     40
97       98         105        Comforter Set         1     45
98       99         101     Wireless Earbuds         2    120
99      100         102       Gaming Console         1    400

[100 rows x 5 columns]

In [ ]:
# You are given a dataset containing sales data for an e-commerce website. The dataset (task\sales_data.csv) has the following columns:

# Date: Date of the sale.
# Product: Name of the product sold.
# Category: Category to which the product belongs.
# Quantity: Number of units sold.
# Price: Price per unit.
# Tasks:

# Group the data by the Category column and calculate the following aggregate statistics for each category:
# Total quantity sold.
# Average price per unit.
# Maximum quantity sold in a single transaction.

In [3]:
import pandas as pd

# Load the dataset
df = pd.read_csv("task/sales_data.csv")

# Group by Category and calculate required statistics
category_stats = df.groupby("Category").agg(
    total_quantity=("Quantity", "sum"),
    average_price=("Price", "mean"),
    max_quantity=("Quantity", "max")
).reset_index()

# Display the result
print(category_stats)

      Category  total_quantity  average_price  max_quantity
0     Clothing             157      31.176471            15
1  Electronics             183     276.764706            15
2         Home             144      55.000000            14

In [ ]:
# Identify the top-selling product in each category based on the total quantity sold.

In [4]:
import pandas as pd

# Load dataset
df = pd.read_csv("task/sales_data.csv")

# Calculate total quantity sold per product per category
product_sales = df.groupby(["Category", "Product"])["Quantity"].sum().reset_index()

# For each category, find the product with the highest total quantity
top_products = product_sales.loc[
    product_sales.groupby("Category")["Quantity"].idxmax()
].reset_index(drop=True)

print(top_products)

      Category          Product  Quantity
0     Clothing            Jeans        15
1  Electronics         Smart TV        15
2         Home  Pressure Cooker        14

In [ ]:
# Find the date on which the highest total sales (quantity * price) occurred.

In [ ]:
import pandas as pd

# Load dataset
df = pd.read_csv("task/sales_data.csv")

# Calculate sales = quantity * price
df["Sales"] = df["Quantity"] * df["Price"]

# Group by Date and sum sales
daily_sales = df.groupby("Date")["Sales"].sum().reset_index()

# Find the date with maximum sales
max_sales_date = daily_sales.loc[daily_sales["Sales"].idxmax()]

print("Date with highest sales:", max_sales_date["Date"])
print("Total sales on that date:", max_sales_date["Sales"])

In [ ]:
# You have a dataset (task\customer_orders.csv) containing information about customer orders. The dataset has the following columns:

# OrderID: Unique identifier for each order.
# CustomerID: Unique identifier for each customer.
# Product: Name of the product ordered.
# Quantity: Number of units ordered.
# Price: Price per unit.

In [ ]:
# Group the data by CustomerID and filter out customers who have made less than 20 orders.

In [ ]:
# Step 1: Count number of orders per customer


order_counts = df.groupby("CustomerID")["OrderID"].nunique().reset_index()
order_counts.rename(columns={"OrderID": "TotalOrders"}, inplace=True)

# Step 2: Filter customers with >= 20 orders
valid_customers = order_counts[order_counts["TotalOrders"] >= 20]["CustomerID"]

# Step 3: Keep only those customers in the main DataFrame
filtered_df = df[df["CustomerID"].isin(valid_customers)]

# Display result
print(filtered_df.head())

NameError: name 'order_counts' is not defined

In [ ]:
# customer_ordersIdentify customers who have ordered products with an average price per unit greater than $120.
import pandas as pd

# Load dataset
df = pd.read_csv("task/customer_orders.csv")

# Step 1: Compute average price per customer
avg_price_per_customer = df.groupby("CustomerID")["Price"].mean().reset_index()
avg_price_per_customer.rename(columns={"Price": "AvgPricePerUnit"}, inplace=True)

# Step 2: Filter customers with average price > 120
high_value_customers = avg_price_per_customer[avg_price_per_customer["AvgPricePerUnit"] > 120]

# Display result
print(high_value_customers)

# (Optional) Save to CSV
high_value_customers.to_csv("task/customers_avg_price_over_120.csv", index=False)

In [ ]:
# Find the total quantity and total price for each product ordered, and filter out products that have a total quantity less than 5 units.
# Load dataset
df = pd.read_csv("task/customer_orders.csv")

# Step 1: Compute total quantity and total price for each product
product_summary = df.groupby("Product").agg(
    TotalQuantity=("Quantity", "sum"),
    TotalPrice=("Price", lambda x: (x * df.loc[x.index, "Quantity"]).sum())
).reset_index()

# Step 2: Filter products with total quantity >= 5
filtered_products = product_summary[product_summary["TotalQuantity"] >= 5]

# Display result
print(filtered_products)

In [ ]:
# Homework Assignment 3: Population Salary Analysis

# "task\population.db" sqlite database has population table.
# "task\population salary analysis.xlsx" file defines Salary Band categories.
# Read the data from population table and calculate following measures:
# Percentage of population for each salary category;
# Average salary in each salary category;
# Median salary in each salary category;
# Number of population in each salary category;
# Calculate the same measures in each State

In [ ]:
# Percentage of population for each salary category;
import sqlite3
import pandas as pd

# Step 1: Load population data from SQLite
conn = sqlite3.connect("task/population.db")
population_df = pd.read_sql("SELECT * FROM population", conn)
conn.close()

# Step 2: Load salary band definitions from Excel
bands_df = pd.read_excel("task/population salary analysis.xlsx")

# Assuming bands_df has columns: MinSalary, MaxSalary, SalaryBand
# Step 3: Assign each person into a salary band
population_df["SalaryBand"] = pd.cut(
    population_df["Salary"],
    bins=[*bands_df["MinSalary"], bands_df["MaxSalary"].iloc[-1]],
    labels=bands_df["SalaryBand"],
    right=True
)

# Step 4: Calculate population percentage per salary band
band_counts = population_df["SalaryBand"].value_counts().reset_index()
band_counts.columns = ["SalaryBand", "Count"]

# Calculate percentage
total_population = band_counts["Count"].sum()
band_counts["Percentage"] = (band_counts["Count"] / total_population) * 100

# Step 5: Display result
print(band_counts)

# (Optional) Save results
band_counts.to_excel("task/population_salary_band_percentage.xlsx", index=False)

In [ ]:
import sqlite3
import pandas as pd

# Step 1: Load population data from SQLite
conn = sqlite3.connect("task/population.db")
population_df = pd.read_sql("SELECT * FROM population", conn)
conn.close()

# Step 2: Load salary band definitions from Excel
bands_df = pd.read_excel("task/population salary analysis.xlsx")

# Step 3: Assign each person into a salary band
population_df["SalaryBand"] = pd.cut(
    population_df["Salary"],
    bins=[*bands_df["MinSalary"], bands_df["MaxSalary"].iloc[-1]],
    labels=bands_df["SalaryBand"],
    right=True
)

# Step 4: Calculate average salary per band
avg_salary_by_band = population_df.groupby("SalaryBand")["Salary"].mean().reset_index()
avg_salary_by_band.rename(columns={"Salary": "AvgSalary"}, inplace=True)

# Step 5: Display result
print(avg_salary_by_band)

# (Optional) Save results
avg_salary_by_band.to_excel("task/average_salary_per_band.xlsx", index=False)

In [ ]:
import sqlite3
import pandas as pd

# Step 1: Load population data from SQLite
conn = sqlite3.connect("task/population.db")
population_df = pd.read_sql("SELECT * FROM population", conn)
conn.close()

# Step 2: Load salary band definitions from Excel
bands_df = pd.read_excel("task/population salary analysis.xlsx")

# Step 3: Assign each person into a salary band
population_df["SalaryBand"] = pd.cut(
    population_df["Salary"],
    bins=[*bands_df["MinSalary"], bands_df["MaxSalary"].iloc[-1]],
    labels=bands_df["SalaryBand"],
    right=True
)

# Step 4: Calculate median salary per band
median_salary_by_band = population_df.groupby("SalaryBand")["Salary"].median().reset_index()
median_salary_by_band.rename(columns={"Salary": "MedianSalary"}, inplace=True)

# Step 5: Display result
print(median_salary_by_band)

# (Optional) Save results
median_salary_by_band.to_excel("task/median_salary_per_band.xlsx", index=False)

In [ ]:
# Number of population in each salary category;
import sqlite3
import pandas as pd

# Step 1: Load population data from SQLite
conn = sqlite3.connect("task/population.db")
population_df = pd.read_sql("SELECT * FROM population", conn)
conn.close()

# Step 2: Load salary band definitions from Excel
bands_df = pd.read_excel("task/population salary analysis.xlsx")

# Step 3: Assign each person into a salary band
population_df["SalaryBand"] = pd.cut(
    population_df["Salary"],
    bins=[*bands_df["MinSalary"], bands_df["MaxSalary"].iloc[-1]],
    labels=bands_df["SalaryBand"],
    right=True
)

# Step 4: Count population per salary band
population_count_by_band = population_df["SalaryBand"].value_counts().reset_index()
population_count_by_band.columns = ["SalaryBand", "PopulationCount"]

# Step 5: Display result
print(population_count_by_band)

# (Optional) Save results
population_count_by_band.to_excel("task/population_count_per_band.xlsx", index=False)